@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gradient {
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .hide-scroll::-webkit-scrollbar {
    display: none;
  }
  .pulse-loader {
    animation: loader 3s infinite linear;
  }
  @keyframes loader {
    0% {
      background-position: -800px 0px;
    }
    100% {
      background-position: 800px 0px;
    }
  }
}
